.container {
  display: flex;
  justify-content: center;
  background-color: #D1E8E4;
 }

 .btn {
  display: flex;
 justify-content: space-evenly;
 font-family: 'Roboto', sans-serif;
}



button {
  background-color: #332FD0;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FB2576;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

h2 {
  color: #3F0071;
  font-family: 'Roboto', sans-serif;
 
}

.delete {
  background-color: #FB2576;
  font-family: 'Roboto', sans-serif;
}